{% load static %}


{% block content %}
<style>
  .page_500{
    padding:40px 0;
    background:#fff; 
    font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 .four_zero_four_bg h1{
 font-size:80px;
 }
 .four_zero_four_bg h3{
	font-size:80px;
}			 
.contant_box_404{ 
  margin-top:-50px;
}
</style>
<section class="page_500">
	<div class="container">
		<div class="row">	
		<div class="col-sm-12 ">
		<div class="col-sm-10 col-sm-offset-1  text-center">
		<div class="four_zero_four_bg">
			<h1 class="text-center ">500</h1>
		</div>
		<div class="contant_box_404">
		<h3 class="h2">
	Opps! Internal Server Error!
		</h3>
		<p>Unfortunately we're having trouble loading the page you are looking for. Please come back in a while.</p>
    <p class="lead">
      <a class="ui button primary" href="{% url 'posts:home' %}" role="button">Go to Home</a>
    </p>
	</div>
		</div>
		</div>
		</div>
	</div>
</section>
{% endblock %}