{% extends 'base.html' %}
{% load static %}

{% block title %} <title>404 not found</title>{% endblock %}
{% block content %}
<style>
.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 .four_zero_four_bg h1{
 font-size:80px;
 }
 .four_zero_four_bg h3{
	font-size:80px;
}			 

.contant_box_404{ 
  margin-top:-50px;
}
</style>
<section class="page_404">
	<div class="container">
		<div class="row">
			
		<div class="col-lg-12 col-md-12 col-sm-10 col-sm-offset-1  text-center">
			<h1 class="text-center " style="font-size: 50px;">404 not found</h1>
		<div class="four_zero_four_bg">	
		</div>
		<div class="contant_box_404">
		<h3 class="h2">
		Look like you're lost
		</h3>
		<p>the page you are looking for not avaible!</p>
    <p class="lead">
      <a class="ui button primary" href="{% url 'posts:home' %}" role="button">Go to Home</a>
    </p>
	</div>
		</div>
		
		</div>
	</div>
</section>
{% endblock %}